@model TodayViewModel
@{
    ViewData["Title"] = "Today";
}


<div class="row">
    <div class="col-md-4" style="width: available">
        <h3 >Today's birthdays</h3>
        @if (!Model.PeopleWithBirthdayToday.Any())
        {
            <table>
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PeopleWithBirthdayToday[0].Name)</th>
                    <th>@Html.DisplayNameFor(model => model.PeopleWithBirthdayToday[0].Birthday)</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var person in Model.PeopleWithBirthdayToday)
                {
                    <tr>
                        <td>@person.Name</td>
                        <td>@person.Birthday.GetNextDate().ToString("yyyy MMMM dd")</td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <h5>Looks like nothing's happening today.</h5>
        }
    </div>
</div>